<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
<main>
    <nav>
        <ul class="main">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/newText">Add Text</a></li>
            <li><a href="/export">Export</a></li>
        </ul>
        <ul class="user-in">
            <li><a href="/login">Logout</a></li>
        </ul>
    </nav> 
    <div class="row">
        <form action="/dashboard" method="GET">
            <div class="container">
                <div class="left-column">
                    <label for="diff">Select Difficulty:</label>
                    <select name="diff" id="diff">
                        <option value="">All</option>
                        <option value="1">Beginner</option>
                        <option value="2">Intermediate</option>
                        <option value="3">Advanced</option>
                        <option value="4">Fluent</option>
                    </select>
                    <label for="lang">Select Language:</label>
                    <select name="lang" id="lang">
                        <option value="">All</option>
                        <option value="English">English</option>
                        <option value="Spanish">Spanish</option>
                        <option value="French">French</option>
                        <option value="German">German</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Korean">Korean</option>
                        <option value="Italian">Italian</option>
                        <option value="Portuguese">Portuguese</option>
                        <option value="Russian">Russian</option>
                        <option value="Arabic">Arabic</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Bengali">Bengali</option>
                        <option value="Urdu">Urdu</option>
                        <option value="Turkish">Turkish</option>
                        <option value="Dutch">Dutch</option>
                        <option value="Swedish">Swedish</option>
                        <option value="Norwegian">Norwegian</option>
                        <option value="Danish">Danish</option>
                        <option value="Finnish">Finnish</option>
                        <option value="Greek">Greek</option>
                        <option value="Hebrew">Hebrew</option>
                        <option value="Polish">Polish</option>
                        <option value="Czech">Czech</option>
                        <option value="Hungarian">Hungarian</option>
                        <option value="Romanian">Romanian</option>
                        <option value="Bulgarian">Bulgarian</option>
                        <option value="Serbian">Serbian</option>
                        <option value="Croatian">Croatian</option>
                        <option value="Slovak">Slovak</option>
                        <option value="Slovenian">Slovenian</option>
                        <option value="Macedonian">Macedonian</option>
                        <option value="Albanian">Albanian</option>
                        <option value="Bosnian">Bosnian</option>
                        <option value="Montenegrin">Montenegrin</option>
                        <option value="Catalan">Catalan</option>
                        <option value="Basque">Basque</option>
                        <option value="Galician">Galician</option>
                        <option value="Welsh">Welsh</option>
                        <option value="Irish">Irish</option>
                        <option value="Scottish Gaelic">Scottish Gaelic</option>
                        <option value="Manx">Manx</option>
                        <option value="Cornish">Cornish</option>
                        <option value="Breton">Breton</option>
                        <option value="Esperanto">Esperanto</option>
                        <option value="Latin">Latin</option>
                        <option value="Ancient Greek">Ancient Greek</option>
                        <option value="Sanskrit">Sanskrit</option>
                        <option value="Pali">Pali</option>
                        <option value="Avestan">Avestan</option>
                        <option value="Hittite">Hittite</option>
                        <option value="Luwian">Luwian</option>
                        <option value="Lycian">Lycian</option>
                        <option value="Lydian">Lydian</option>
                        <option value="Ugaritic">Ugaritic</option>
                        <option value="Akkadian">Akkadian</option>
                        <option value="Sumerian">Sumerian</option>
                        <option value="Hittite">Hittite</option>
                        <option value="Hittite">Hittite</option>
                        <option value="Georgian">Georgian</option>
                        <option value="Armenian">Armenian</option>
                        <option value="Albanian">Albanian</option>
                        <option value="Azerbaijani">Azerbaijani</option>
                        <option value="Chechen">Chechen</option>
                        <option value="Kazakh">Kazakh</option>
                        <option value="Kyrgyz">Kyrgyz</option>
                        <option value="Turkmen">Turkmen</option>
                        <option value="Uzbek">Uzbek</option>
                        <option value="Tajik">Tajik</option>
                        <option value="Mongolian">Mongolian</option>
                        <option value="Tibetan">Tibetan</option>
                        <option value="Nepali">Nepali</option>
                        <option value="Bhutanese">Bhutanese</option>
                        <option value="Sinhala">Sinhala</option>
                        <option value="Dhivehi">Dhivehi</option>
                        <option value="Maldivian">Maldivian</option>
                        <option value="Burmese">Burmese</option>
                        <option value="Karen">Karen</option>
                        <option value="Tibetan">Tibetan</option>
                        <option value="Lao">Lao</option>
                        <option value="Khmer">Khmer</option>
                        <option value="Thai">Thai</option>
                        <option value="Bahnar">Bahnar</option>
                        <option value="Cham">Cham</option>
                        <option value="Jarai">Jarai</option>
                        <option value="Rade">Rade</option>
                        <option value="Austroasiatic">Austroasiatic</option>
                        <option value="Mon">Mon</option>
                        <option value="Khmer">Khmer</option>
                        <option value="Vietnamese">Vietnamese</option>
                        <option value="Muong">Muong</option>
                        <option value="Thavung">Thavung</option>
                        <option value="Mang">Mang</option>
                        <option value="Malay">Malay</option>
                        <option value="Indonesian">Indonesian</option>
                        <option value="Javanese">Javanese</option>
                        <option value="Sundanese">Sundanese</option>
                        <option value="Madurese">Madurese</option>
                        <option value="Balinese">Balinese</option>
                        <option value="Sasak">Sasak</option>
                        <option value="Tetum">Tetum</option>
                        <option value="Filipino">Filipino</option>
                        <option value="Cebuano">Cebuano</option>
                        <option value="Ilocano">Ilocano</option>
                        <option value="Hiligaynon">Hiligaynon</option>
                        <option value="Waray">Waray</option>
                        <option value="Kapampangan">Kapampangan</option>
                        <option value="Pangasinan">Pangasinan</option>
                        <option value="Maranao">Maranao</option>
                        <option value="Maguindanao">Maguindanao</option>
                        <option value="Tausug">Tausug</option>
                        <option value="Bikol">Bikol</option>
                        <option value="Kinaray-a">Kinaray-a</option>
                        <option value="Karay-a">Karay-a</option>
                        <option value="Aklanon">Aklanon</option>
                        <option value="Ibanag">Ibanag</option>
                        <option value="Itawis">Itawis</option>
                        <option value="Isneg">Isneg</option>
                        <option value="Gaddang">Gaddang</option>
                        <option value="Ilocano">Ilocano</option>
                        <option value="Surigaonon">Surigaonon</option>
                        <option value="Tausug">Tausug</option>
                        <option value="Hiligaynon">Hiligaynon</option>
                        <option value="Maguindanao">Maguind

                    </select>
                </div>
            </div>
            <div class="b">
                <input type="submit" value="Filter">
            </div>
        </form>              
    </div>
    <div class="row">
        <table>
            <tr>
                <th>Text</th>
                <th>Language</th>
                <th>Difficulty</th>
            </tr>
            {% for card in cards_data %}
            <tr>
                <td>{{ card[0] }}</td>
                <td>{{ card[1] }}</td>
                <td>
                    {% set difficulty_levels = {1: "Beginner", 2: "Intermediate", 3: "Advanced", 4: "Fluent"} %}
                    {{ difficulty_levels[card[2]] }}
                </td>
            </tr>
            {% endfor %}
        </table>              
    </div>
</main>
</body>
</html>
