<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
<main>
    <nav>
        <ul class="main">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/newText">Add Text</a></li>
            <li><a href="/export">Export</a></li>
        </ul>
        <ul class="user-in">
            <li><a href="/login">Logout</a></li>
        </ul>
    </nav> 
    <div class="row">
        <table>
            <tr>
                <th>Text</th>
                <th>Language</th>
                <th>Difficulty</th>
            </tr>
            {% for card in cards_data %}
            <tr>
                <td>{{ card[0] }}</td>
                <td>{{ card[1] }}</td>
                <td>{{ card[2] }}</td>
            </tr>
            {% endfor %}
        </table>              
    </div>
</main>
</body>
</html>
