<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
      <nav>
        <ul class="main">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/newText">Add Text</a></li>
            <li><a href="/export">Export</a></li>
        </ul>
        <ul class="user-in">
            <li><a href="/login">Logout</a></li>
        </ul>
      </nav> 
        <div class="row">
          <table>
            <tr>
                <th>Text</th>
                <th>Language</th>
                <th>Difficulty</th>
            </tr>
            <tr>
                <td>Example Sentence</td>
                <td>English</td>
                <td>Easy</td>
            </tr>
            <tr>
                <td>Weimarer expressionistische Filme sind ein Relikt der deutschen Geschichte, und obwohl sie nicht bekannt sind, ist ihre Wirkung immer noch relevant.</td>
                <td>German</td>
                <td>Advanced</td>
            </tr>
            <tr>
                <td>我应该和我的朋友一起去吃饭</td>
                <td>Chinese</td>
                <td>Intermediate</td>
            </tr>
          </table>              
        </div>
    </main>
  </body>
</html>