<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kitabi Keeda</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        {% if is_logged_in %}
        <nav>
          <ul class="main">
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/newText">Add Text</a></li>
              <li><a href="/export">Export</a></li>
          </ul>
          <ul class="user-in">
              <li><a href="/login">Logout</a></li>
          </ul>
      </nav>
      {% else %}
        <nav>
            <ul class="main">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="user">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>  
        {% endif %}
        <div class="row">
            <div class="box">
                <h1>Our Mission as Kitabi-Keeda</h1>
            </div>
            <div class="mission">
                Kitabi-Keeda works to empower minority languages by documenting uses both for learners to interact with, linguists to view for analysis, or for machine learning engineers to use as corpora. Join our mission to provide for these communities by <a href="/register">registering here</a>
            </div>
        </div>
    </main>
  </body>
</html>